@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900&display=swap');

body {
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 1.3;
}

.textblock h1 {
    font-size: 60px;
}

.page2 p {
    font-size: 25px;
}

.container {
    max-width: 800px;
}

.page3banner h1 {
    text-align: left;
    margin-left: 20px;
}

.page3 h1 {
    text-align: center;
    margin-left: 50px;
    font-size: 50px;
}

.page3 p {
    text-align: left;
    margin-left: 50px;
    font-size: 20px;
    padding-top: 15px;
}

#page4 {
    background-attachment: fixed;

}



.slideanimate {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
#mapimg{
    
    background-position:-20% 0;
    animation: move 1s linear forwards;
    background-repeat:no-repeat;
    background-color:#573B3A;
}
.textblock{
    background-color:#DDC470a3;
    text-align:center;
    
}
#map-img{
    background-color: #573B3A;
}
.recordingmap p{
    font-weight: bold;
    
}
